header {
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 20px;
  }

  .nav {
    &__list {
      display: flex;
      align-items: center;
      gap: 30px;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 50px;
      }
    }

    &__item {
      font-size: 20px;
      font-weight: 600;
      @media (max-width: 768px) {
        font-size: 30px;
      }
    }

    @media (max-width: 768px) {
      position: absolute;
      top: 0;
      left: 120%;
      z-index: 100;
      width: 100vw;
      height: 100vh;
      // background-color: #d3d3d3e0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: all 0.3s ease;

      &.open {
        left: 0;
      }
    }
  }

  .theme-btn {
    padding: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu-btn {
  display: none;

  @media (max-width: 767.98px) {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 105;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease;
      right: 0;
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 10px;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - 1px);
    }
    &.open {
      span {
        width: 0;
      }
      &::before,
      &::after {
        width: 100%;
      }
      &::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
      }
    }
  }
}
