h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: 5px;

  transition: all 0.3s ease-in-out;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;

  transition: all 0.3s ease-in-out;
}

a {
  display: inline-block;

  position: relative;
  transition: all 0.3s ease-in-out;

  @media (min-width: 768px) {
    &:hover {
      transform: translate(-3px, -3px);
    }
  }

  &:active {
    transform: translate(-1.5px, -1.5px);
  }
}

button {
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 10px;
  border: 4px solid;
  position: relative;
  transition: all 0.3s ease-in-out;

  @media (min-width: 768px) {
    &:hover {
      transform: translate(2px, 2px);
    }
  }

  &:active {
    transform: translate(5px, 5px);
    background-color: #3d3d3d;
  }
}
